<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="icon" href="/favicon/aaronrobson.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%7CPlayfair+Display" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/"><img alt="Home icon" src="/images/home.svg" />&nbsp;Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>

    <div class="container">
{{ content }}
    </div>
    
    <footer>
      <ul>
        <li>
          <a href="mailto:arobsonse@hotmail.co.uk" aria-label="email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/aaronrobson" aria-label="GitHub">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/aaronrobson" aria-label="LinkedIn">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
