<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="icon" href="/static/favicon/aaronrobson.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%7CPlayfair+Display" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/"><img alt="Home icon" src="/static/images/home.svg" />&nbsp;Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>

    <div class="container">
{{ content }}
    </div>
    
    <footer>
      <ul>
        <li><a href="/contact">contact</a></li>
        <li><a href="mailto:aaronrobsonse@hotmail.co.uk">email</a></li>
        <li><a href="https://github.com/aaronrobson"><img alt="GitHub icon" src="/static/logos/GitHub_logo_2013_padded.svg" /></a></li>
        <li><a href="https://www.linkedin.com/in/aaronrobson"><img alt="LinkedIn icon" src="/static/logos/LinkedIn_Logo_2013.svg" /></a></li>
      </ul>
    </footer>
  </body>
</html>
